* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f6f8f9;
    color: #000;
}

.header-1 {
    background: #fff;
    display: flex;
    height: 100px;

    border-bottom: 1px solid #f1f1f1;
}

.logo {
    margin-left: 200px;
    border-right: 1px solid #f1f1f1;
}

.logo > img {
    width: 50px;
    padding-top: 35px;
    padding-right: 20px;
}

.search-bar {
    border-right: 1px solid #f1f1f1;
    position: relative;

    width: 200px;
}

.search-bar input {
    outline: none;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #f1f1f1;
    padding-left: 10px;
    display: block;
    margin: 35px auto;
}

.search-bar i {
    position: absolute;
    bottom: 39px;
    right: 30px;
    font-size: 18px;
}

.header-1 .nav {
    border-right: 1px solid #f1f1f1;
    width: 450px;
}

.header-1 .nav .nav-links {
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
}

.header-1 .nav .nav-links a {
    text-decoration: none;
    color: #000;
    display: block;
    font-weight: 300;
    position: relative;
}

.header-1 .nav .nav-links a:last-child {
    color: #ff604f;
}

.header-1 .nav .nav-links a:not(:last-child) {
    padding-right: 19px;
}

.header-1 .nav .nav-links a:hover {
    bottom: 3px;
}

.notifications {
    border-right: 1px solid #f1f1f1;
    width: 200px;
}

.notifications-icons {
    width: 130px;
    margin: 0 auto;
    margin-top: 40px;
}

.notifications-icons > i:not(:last-child) {
    padding-right: 29px;
}

.notifications-icons > i {
    font-size: 21px;
    position: relative;
    cursor: pointer;
}

.notifications-icons > i:hover {
    bottom: 3px;
}

.notifications-icons > i:first-child {
    color: #00de6c;
}

.notifications-icons > i:nth-child(2) {
    color: #eece00;
}

.notifications-icons > i:last-child {
    color: #a825b7;
}

.avatar > img {
    width: 40px;
    border-radius: 50px;
    display: block;
    margin-left: 20px;
    margin-top: 30px;
}

.header-2 {
    background: #fff;
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
}

.header-2 .nav {
    width: 1000px;
    margin-left: 200px;
    display: flex;
    height: inherit;
}

.header-2 .nav a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    padding-top: 15px;
}

.header-2 .nav a:not(:last-child) {
    margin-right: 50px
}

.header-2 .nav a:first-child {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #5baee9;
}

.header-2 .nav a:hover {
    border-bottom: 2px solid #5baee9;
}

.main {
    margin-top: 20px;
    display: flex;
}

.main .user-info {
    width: 200px;
    height: 550px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fff;
}

.main .user-info > img {
    width: 100px;
    border-radius: 50px;
    margin: 20px auto;
}

.user-info .user-fullname {
    font-weight: bolder;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

.user-info .user-occupation {
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.user-info .user-country {
    font-weight: 100;
    color: #b7abab;
    font-size: 14px;
}

.user-info .follow-btn {
    width: 150px;
    display: block;
    margin: 10px auto;
    border: 0;
    padding: 10px;
    background: #5baee9;
    color: #fff;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
}

.user-info .connect-btn {
    width: 150px;
    display: block;
    margin: 0px auto;
    border: 0;
    padding: 10px;
    padding-left: 0px;
    background: #fff;
    border: 1px solid #5baee9;
    color: #5baee9;
    border-radius: 50px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}

.user-info .connect-btn:hover {
    background: #c9dfff;
}

.user-info .connect-btn > i {
    position: absolute;
    top: 7px;
}

.user-influence {
    margin-top: 25px;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    font-size: 14px;
    height: 60px;
}

.user-connections {
    width: 100px;
    border-right: 1px solid #f1f1f1;
    margin-top: 15px;
}

.user-followers {
    width: 100px;
    margin-top: 15px;
}

.user-connections span,
.user-followers span {
    display: block;
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-connections span:first-child,
.user-followers span:first-child {
    font-weight: bolder;
}

.user-connections span:last-child,
.user-followers span:last-child {
    color: #b7abab;
}

.user-links {
    height: 90px;
    border-bottom: 1px solid #f1f1f1;
}

.user-links a {
    display: block;
    text-decoration: none;
    color: #b7abab;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    position: relative;
    text-align: left;
    width: 150px;
    margin: 0 auto;
    padding-left: 15px;
}

.user-links a:hover {
    text-decoration: underline;
}

.user-links a:first-child {
    margin-top: 25px;
}

.user-links a:last-child {
    margin-top: 10px;
    margin-bottom: 15px;
}

.user-links a > i {
    font-size: 13px;
    position: absolute;
    left: -1px;
}

.export-page {
    color: #b7abab;
    font-size: 14px;
}

.export-page span {
    position: relative;
    display: block;
    margin-top: 25px;
    cursor: pointer;
}

.export-page span i {
    position: absolute;
    left: 14px;
    bottom: -6px;
}

.user-posts-and-cv {
    margin-left: 20px;
    width: 600px;
}

.posts-container {
    background: #fff;
}

.posts-header,
.recommendations-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
}

.posts-header > span,
.recommendations-header > span {
    display: block;
    margin-left: 20px;
    font-weight: bolder;
    margin-top: 20px;
}

.posts-nav,
.recommendations-nav {
    margin-right: 20px;
    color: #000;
    margin-top: 15px;
}

.posts-nav i,
.recommendations-nav i {
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
}

.posts-nav i:hover,
.recommendations-nav i:hover {
    background: #ddd;
}

.user-posts,
.user-recommendations,
.user-followings {
    display: flex;
    margin-top: 20px;
}

.user-posts div,
.user-recommendations .recommendation {
    width: 173px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-posts img {
    width: inherit;
    cursor: pointer;
}

.user-posts img:hover + span {
    text-decoration: underline;
}

.user-posts img + span {
    cursor: pointer;
}

.user-posts img + span:hover {
    text-decoration: underline;
}

.user-posts div span:last-child {
    color: #b7abab;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}

.user-posts div img + span {
    margin-top: 5px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bolder;
}

.user-background,
.recommendations-container,
.user-followings-container {
    background: #fff;
    margin-top: 20px;
    width: 600px;

    overflow: hidden;
}

.user-background-header,
.user-followings-header {
    height: 60px;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
}

.user-background-header span,
.user-followings-header span {
    display: block;
    margin-left: 20px;
    font-weight: bolder;
    margin-top: 20px;
}

.user-summary-container {
    margin-top: 20px;
}

.user-summary-header {
    display: flex;
    margin-bottom: 15px;
}

.user-summary-header > i {
    margin-left: 20px;
}

.user-summary-header span {
    font-size: 20px;
    margin-left: 10px;
}

.user-summary-container p {
    margin-left: 55px;
    font-size: 15px;
    font-weight: 300;
    width: 525px;
}

.user-experience-container,
.user-education-container,
.user-skills-container,
.user-interest-container {
    margin-top: 20px;
}

.user-experience-header,
.user-education-header,
.user-skills-header,
.user-interest-header {
    display: flex;
    margin-bottom: 15px;
}

.user-experience-header > i,
.user-education-header > i,
.user-skills-header > i,
.user-interest-header > i {
    margin-left: 20px;
}

.user-experience-header span,
.user-education-header span,
.user-skills-header span,
.user-interest-header span {
    font-size: 20px;
    margin-left: 10px;
}

.user-experience,
.user-education {
    margin-left: 55px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.company span,
.school span {
    display: block;
}

.company span:first-child,
.school span:first-child {
    color: #b7abab;
    font-size: 13px;
    margin-bottom: 5px;
    position: relative;
}

.user-experience-container div:nth-child(2) .company span:first-child::after,
.user-education-container div:nth-child(2) .school span:first-child::after {
    content: "";
    border: .5px solid;
    position: absolute;
    height: 77px;
    top: 10px;
    left: -12px;
}

.company span:first-child::before,
.school span:first-child::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50px;
    border: 1px solid;
    position: absolute;
    left: -15px;
    top: 4px;
}

.company span:nth-child(2),
.school span:nth-child(2) {
    font-weight: 300;
    margin-bottom: 5px;
}

.company span:nth-child(3),
.school span:nth-child(3) {
    font-weight: 300;
    color: #7aa4f1;
    cursor: pointer;
}

.company span:nth-child(3):hover,
.school span:nth-child(3):hover {
    text-decoration: underline;
}

.user-experience img {
    width: 100px;
    height: 30px;
    margin-right: 20px;
}

.user-skill {
    display: flex;
    margin-left: 55px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skill {
    font-weight: 300;
    display: flex;
}

.skill span:first-child {
    border: 1px solid;
    width: 40px;
    height: 40px;

    border-radius: 50px;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.skill span:last-child {
    margin-top: 10px;
    margin-left: 15px;
}

.voters {
    display: flex;
}

.voters span {
    background: #f1f1f1;
    width: 40px;
    height: 40px;

    border-radius: 50px;
    padding-left: 10px;
    padding-top: 13px;
    cursor: pointer;
    font-size: 13px;
    margin-right: 20px;
}

.voters img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.user-interests {
    margin-left: 55px;
    display: flex;
}

.user-interests span {
    font-weight: 300;
    font-size: 14px;
    background: #f1f1f1;
    padding: 5px;
    margin-bottom: 15px;
}

.user-interests span:not(:last-child) {
    margin-right: 10px;
}

.recommendation {
    font-size: 14px;
}

.user-recommendations {
    margin-bottom: 20px;
}

.recommendation div:first-child {
    border: 1px solid #f1f1f1;
    width: inherit;

    padding: 10px;
    font-weight: 300;
    position: relative;
}

.recommendation div:first-child::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 30px;
    border-top: 2px solid #fff;
    border-left: 1px solid #f1f1f1;
    bottom: -31px;
    left: -1px;
}

.recommendation div:first-child::after {
    content: "";
    position: absolute;
    height: 41px;
    border-left: 1px solid #f1f1f1;
    bottom: -36px;
    left: 13px;
    transform: rotate(42deg)
}

.user-recommending {
    display: flex;
    margin-top: 50px;
}

.user-recommending > div span,
.user-view > div span {
    display: block;
    margin-left: 15px;
}

.user-recommending div span:first-child,
.user-view div span:first-child {
    margin-top: 10px;
    font-weight: bolder;
}

.user-recommending div span:last-child,
.user-view div span:last-child {
    margin-top: 5px;
    color: #ddd;
    font-weight: bolder;
}

.user-recommending img,
.user-view img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.user-following-container {
    width: 125px;

    margin-left: 20px;
}

.user-following-container span {
    font-weight: 200;
}

.user-following-avatar {
    width: inherit;
    height: 80px;
    border: 1px solid #f1f1f1;

    margin-bottom: 20px;
}

.user-following-avatar + span {
    display: block;
    margin-bottom: 5px;
}

.user-following-avatar + span + span {
    color: #6da3f2;
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    width: 20px;
    height: 20px;

    padding-left: 4px;
}

.user-following-avatar + span + span + span {
    display: inline-block;
    color: #6da3f2;
    margin-left: 5px;
    cursor: pointer;
}

.user-following-avatar + span + span + span:hover {
    text-decoration: underline;
}

.user-following-avatar img {
    display: block;
    width: 80px;
    margin: 30px auto;
}

.see-all-btn {
    display: block;
    margin-left: 20px;
    background: #fff;
    color: #6da3f2;
    border: 1px solid;
    width: 130px;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
}

.see-all-btn:hover {
    background: #c9dfff;
}

.right-sidebar {
    width: 180px;
    margin-left: 20px;
}

.people-also-viewed > h4,
.more-influencers > h4 {
    font-weight: 200;
    font-size: 14px;
}

.users-viewed {
    display: flex;
    flex-direction: column;
}

.user-view {
    display: flex;
    margin-top: 20px;
    font-weight: 200;
}

.more-influencers {
    margin-top: 30px;
}

.influencer {
    text-align: center;
    position: relative;
}

.influencer img {
    display: block;
    width: 100px;
    margin: 20px auto;
    border-radius: 50px;
}

.influencer span {
    font-weight: 500;
    font-size: 14px;
    color: #ddd;
}

.less-than-sign {
    position: absolute;
    left: 25px;
    top: 75px;
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    cursor: pointer;
}

.greater-than-sign {
    position: absolute;
    right: 25px;
    top: 75px;
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    cursor: pointer;
}

footer {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 200;
}
